Repository MisterPeModder/Bomberman-Global-Offensive, pull requests merged in 2022-06, with the labels that each got.

#87 Procedural map generation
  src/CMakeLists.txt
  src/game/CMakeLists.txt
  src/game/map/CMakeLists.txt
  src/game/map/Map.cpp
  src/game/map/Map.hpp
  src/game/map/cellular/CMakeLists.txt
  src/game/map/cellular/Grid.cpp
  src/game/map/cellular/Grid.hpp
  src/game/map/cellular/Rule.cpp
  src/game/map/cellular/Rule.hpp
Labels: game

#86 Raylib keyboard/gamepad encapsulation
  src/raylib/core/CMakeLists.txt
  src/raylib/core/Gamepad.cpp
  src/raylib/core/Gamepad.hpp
  src/raylib/core/Keyboard.cpp
  src/raylib/core/Keyboard.hpp
Labels: raylib

#90 Game settings and player profiles
  .gitignore
  src/CMakeLists.txt
  src/game/CMakeLists.txt
  src/game/GameAction.hpp
  src/game/settings/CMakeLists.txt
  src/game/settings/GamepadInput.cpp
  src/game/settings/GamepadInput.hpp
  src/game/settings/Keybinds.cpp
  src/game/settings/Keybinds.hpp
  src/game/settings/Profile.cpp
  src/game/settings/Profile.hpp
  src/game/settings/Settings.cpp
  src/game/settings/Settings.hpp
  src/raylib/core/Vector2.cpp
  src/raylib/core/Vector2.hpp
  src/raylib/core/Vector3.cpp
  src/raylib/core/Vector3.hpp
  src/util/CMakeLists.txt
  src/util/util.cpp
  src/util/util.hpp
  tests/CMakeLists.txt
  tests/settings/CMakeLists.txt
  tests/settings/settings/settings.cfg
  tests/settings/test_GamepadInput.cpp
  tests/settings/test_Settings.cpp
  tests/util/CMakeLists.txt
  tests/util/configs/empty.cfg
  tests/util/configs/no_key.cfg
  tests/util/configs/test.cfg
  tests/util/test_loadConfigFile.cpp
Labels: enhancement

#97 Update shapes with raylib color and vector encapsulations
  src/raylib/shapes/AShape.hpp
  src/raylib/shapes/Circle.cpp
  src/raylib/shapes/Circle.hpp
  src/raylib/shapes/Cone.cpp
  src/raylib/shapes/Cone.hpp
  src/raylib/shapes/Cube.cpp
  src/raylib/shapes/Cube.hpp
  src/raylib/shapes/Cylinder.hpp
  src/raylib/shapes/Pixel.cpp
  src/raylib/shapes/Pixel.hpp
  src/raylib/shapes/Rectangle.cpp
  src/raylib/shapes/Rectangle.hpp
  src/raylib/shapes/Sphere.cpp
  src/raylib/shapes/Sphere.hpp
Labels: raylib

#91 Feature/1 raylib encapsulation audio
  src/main.cpp
  src/raylib/core/Audio.cpp
  src/raylib/core/Audio.hpp
  src/raylib/core/CMakeLists.txt
  src/raylib/core/Sound.cpp
  src/raylib/core/Sound.hpp
  src/raylib/core/scoped.hpp
Labels: raylib

#107 Fix missing trailing ECS entities when using optional joins
  src/ecs/join/Join.hpp
  src/ecs/join/Joinable.hpp
  src/ecs/join/MaybeJoin.hpp
  src/game/User.cpp
  tests/ecs/tests_Join.cpp
Labels: ECS

#108 Add controlable component and Checkable/Clickable Widgets
  src/game/CMakeLists.txt
  src/game/Users.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Controlable.hpp
  src/game/components/Position.hpp
  src/game/components/Size.hpp
  src/game/components/Textual.hpp
  src/game/gui/CMakeLists.txt
  src/game/gui/components/CMakeLists.txt
  src/game/gui/components/Checkable.cpp
  src/game/gui/components/Checkable.hpp
  src/game/gui/components/Clickable.cpp
  src/game/gui/components/Clickable.hpp
  src/game/gui/components/IWidgetComponent.hpp
  src/game/gui/components/Widget.cpp
  src/game/gui/components/Widget.hpp
  src/game/systems/CMakeLists.txt
  src/game/systems/DrawText.cpp
  src/game/systems/DrawText.hpp
  src/game/systems/InputManager.cpp
  src/game/systems/InputManager.hpp
  src/main.cpp
Labels: ECS: System, ECS: Component, UI/UX

#114 Fix Windows CI
  src/ecs/join/Join.hpp
Labels: bug

#113 Fix error when ecs::join-ing with unregistered components
  src/ecs/join/MaybeJoin.hpp
  src/ecs/resource/Timer.hpp
  src/ecs/world/World.hpp
  tests/ecs/tests_Join.cpp
Labels: bug, ECS

#121 Create locales directories on save if not existing
  src/localization/Localization.cpp
Labels: localization

#122 Make vector classes templates
  src/game/components/Position.hpp
  src/game/components/Size.hpp
  src/game/settings/Settings.cpp
  src/game/settings/Settings.hpp
  src/main.cpp
  src/raylib/core/CMakeLists.txt
  src/raylib/core/Camera3D.cpp
  src/raylib/core/Camera3D.hpp
  src/raylib/core/Gamepad.cpp
  src/raylib/core/Gamepad.hpp
  src/raylib/core/Mouse.hpp
  src/raylib/core/Vector2.cpp
  src/raylib/core/Vector2.hpp
  src/raylib/core/Vector3.cpp
  src/raylib/core/Vector3.hpp
  src/raylib/model/BoundingBox.cpp
  src/raylib/model/BoundingBox.hpp
  src/raylib/model/Model.cpp
  src/raylib/model/Model.hpp
  src/raylib/shapes/AShape.hpp
  src/raylib/shapes/Circle.cpp
  src/raylib/shapes/Circle.hpp
  src/raylib/shapes/Cone.cpp
  src/raylib/shapes/Cone.hpp
  src/raylib/shapes/Cube.cpp
  src/raylib/shapes/Cube.hpp
  src/raylib/shapes/Cylinder.hpp
  src/raylib/shapes/Pixel.cpp
  src/raylib/shapes/Pixel.hpp
  src/raylib/shapes/Rectangle.cpp
  src/raylib/shapes/Rectangle.hpp
  src/raylib/shapes/Sphere.cpp
  src/raylib/shapes/Sphere.hpp
  src/raylib/textures/Image.cpp
  src/raylib/textures/Image.hpp
  src/raylib/textures/Texture2D.cpp
  src/raylib/textures/Texture2D.hpp
  tests/settings/test_Settings.cpp
Labels: raylib

#105 Raylib Mesh Encapsulation
  src/game/User.cpp
  src/main.cpp
  src/raylib/model/CMakeLists.txt
  src/raylib/model/Mesh.cpp
  src/raylib/model/Mesh.hpp
  src/raylib/model/Model.cpp
  src/raylib/model/Model.hpp
  src/raylib/textures/Image.cpp
  src/raylib/textures/Image.hpp
  src/raylib/textures/Texture2D.cpp
  src/raylib/textures/Texture2D.hpp
Labels: raylib

#117 Start of game implementation
  src/game/CMakeLists.txt
  src/game/Game.cpp
  src/game/Game.hpp
  src/game/GameAction.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Collidable.hpp
  src/game/components/Controlable.hpp
  src/game/components/Cube.hpp
  src/game/components/CubeColor.hpp
  src/game/components/Destructible.hpp
  src/game/components/Living.hpp
  src/game/components/Position.hpp
  src/game/components/Size.hpp
  src/game/components/Textual.hpp
  src/game/components/Velocity.hpp
  src/game/map/Map.cpp
  src/game/map/Map.hpp
  src/game/settings/Keybinds.cpp
  src/game/systems/CMakeLists.txt
  src/game/systems/ChangeCube.hpp
  src/game/systems/Collision.cpp
  src/game/systems/Collision.hpp
  src/game/systems/DrawText.cpp
  src/game/systems/DrawText.hpp
  src/game/systems/DrawingCube.hpp
  src/game/systems/InputManager.cpp
  src/game/systems/InputManager.hpp
  src/game/systems/Movement.cpp
  src/game/systems/Movement.hpp
  src/main.cpp
  src/raylib/core/Camera3D.cpp
  src/raylib/core/Camera3D.hpp
  src/raylib/core/scoped.hpp
  src/raylib/model/Mesh.cpp
  src/raylib/model/Mesh.hpp
Labels: game

#123 Refactored game Map using Vector2u
  src/game/Game.cpp
  src/game/map/Map.cpp
  src/game/map/Map.hpp
Labels: game

#109 JS Engine & Modding Framework
  .github/workflows/build-tests.yml
  CMakeLists.txt
  assets/.gitkeep
  cmake/CompilerFlags.cmake
  cmake/Findgoogletest.cmake
  cmake/Findmujs.cmake
  cmake/Findraylib.cmake
  cmake/mujs/CMakeLists.txt
  generate_bindings.py
  mods/api.d.ts
  mods/api.js
  mods/hello.js
  src/.gitignore
  src/CMakeLists.txt
  src/logger/Logger.hpp
  src/main.cpp
  src/script/CMakeLists.txt
  src/script/Engine.cpp
  src/script/Engine.hpp
  src/script/JsException.cpp
  src/script/JsException.hpp
  src/script/Mod.cpp
  src/script/Mod.hpp
  src/script/RegistryGuard.cpp
  src/script/RegistryGuard.hpp
  src/script/api/CMakeLists.txt
  src/script/api/api.hpp
  src/script/api/common.cpp
  src/script/api/mods.cpp
  src/script/script.hpp
  src/shell.html
Labels: scripting

#104 Feature/99 create raylib related ecs components
  src/game/CMakeLists.txt
  src/game/components/Animation.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Color.hpp
  src/game/components/Image.hpp
  src/game/components/Model.hpp
  src/game/components/RotationAngle.hpp
  src/game/components/RotationAxis.hpp
  src/game/components/Scale.hpp
  src/game/components/Texture2D.hpp
  src/game/systems/Animation.hpp
  src/game/systems/CMakeLists.txt
  src/game/systems/DrawText.cpp
  src/game/systems/Model.hpp
  src/raylib/model/Animation.cpp
  src/raylib/model/Model.cpp
  src/raylib/model/Model.hpp
Labels: ECS: Component

#127 Add World::clear() method
  src/ecs/world/Instances.hpp
  src/ecs/world/World.cpp
  src/ecs/world/World.hpp
  tests/ecs/world/tests_World.cpp
Labels: ECS

#126 Add bombs in the game
  src/game/CMakeLists.txt
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Collidable.hpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/map/Map.cpp
  src/game/map/Map.hpp
  src/game/resources/CMakeLists.txt
  src/game/resources/Map.hpp
  src/game/systems/Bomb.cpp
  src/game/systems/Bomb.hpp
  src/game/systems/CMakeLists.txt
  src/game/systems/Collision.cpp
  src/game/systems/DrawingCube.hpp
  src/main.cpp
Labels: game

#129 Add SystemTag and World::runSystems() to run systems in a tag
  src/ecs/System.hpp
  src/ecs/system/CMakeLists.txt
  src/ecs/system/System.hpp
  src/ecs/system/SystemTag.cpp
  src/ecs/system/SystemTag.hpp
  src/ecs/world/Instances.hpp
  src/ecs/world/World.cpp
  src/ecs/world/World.hpp
  tests/ecs/world/tests_World.cpp
Labels: ECS

#139 Separate game systems executions using SystemTag
  src/game/Game.cpp
  src/game/Game.hpp
Labels: game

#138 Explode entities if at least 40% of their size overtake on an adjacent exploded cell
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/systems/Collision.cpp
  src/game/systems/Collision.hpp
  src/raylib/shapes/Rectangle.cpp
  src/raylib/shapes/Rectangle.hpp
Labels: game

#140 ECS Entity Deletion
  src/ecs/resource/Entities.cpp
  src/ecs/resource/Entities.hpp
  src/ecs/storage/MapStorage.hpp
  src/ecs/storage/MarkerStorage.hpp
  src/ecs/storage/Storage.hpp
  src/ecs/world/World.cpp
  src/ecs/world/World.hpp
  src/util/BitSet.cpp
  src/util/BitSet.hpp
  tests/ecs/tests_Join.cpp
  tests/ecs/world/tests_Entities.cpp
  tests/util/tests_BitSet.cpp
Labels: ECS: Entity

#143 Print logger in stdout by default
  src/logger/Logger.hpp
  src/raylib/logger.cpp
Labels: enhancement

#144 Destroy bombs/crates entities
  src/ecs/resource/Entities.cpp
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/Destructible.hpp
  src/game/systems/Bomb.cpp
  src/game/systems/Collision.cpp
  src/game/systems/DrawingCube.hpp
Labels: enhancement

#148 Auto game resize on the web
  cmake/mujs/CMakeLists.txt
  mods/api.d.ts
  mods/api.js
  mods/hello.js
  src/game/Game.cpp
  src/game/Game.hpp
  src/game/worlds/GameWorld.cpp
  src/game/worlds/Worlds.hpp
  src/main.cpp
  src/raylib/core/Window.cpp
  src/raylib/core/Window.hpp
  src/script/api/common.cpp
  src/script/api/mods.cpp
  src/shell.html
Labels: web

#155 Add player stats
  src/game/components/Player.cpp
  src/game/components/Player.hpp
Labels: game

#156 Implemented player bomb limit
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Identity.cpp
  src/game/components/Identity.hpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
Labels: game

#160 Bundle locales and settings directories on the web
  src/CMakeLists.txt
Labels: assets, web

#150 Add bomb collisions
  src/game/Game.cpp
  src/game/Game.hpp
  src/game/components/Bomb.cpp
  src/game/components/BombNoClip.cpp
  src/game/components/BombNoClip.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Player.cpp
  src/game/systems/Collision.cpp
  src/game/systems/NoClip.hpp
Labels: game

#167 Deploy the game on GitHub Pages
  .github/workflows/doc_build.yml
  .github/workflows/gh-pages.yml
  CMakeLists.txt
  README.md
Labels: CI/CD, web

#174 Fix non-parallel builds when using CMakePresets.json
  CMakePresets.json
Labels: CI/CD

#169 Add base items architecture and Speed Shoes power Up
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/CMakeLists.txt
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/ItemIdentifier.hpp
  src/game/components/items/SpeedShoes.cpp
  src/game/map/Map.cpp
  src/game/resources/CMakeLists.txt
  src/game/resources/RandomDevice.hpp
  src/game/systems/CMakeLists.txt
  src/game/systems/Items.cpp
  src/game/systems/Items.hpp
  src/util/util.hpp
Labels: game, Item

#171 Add Chain Ball power down item
  src/game/components/items/CMakeLists.txt
  src/game/components/items/ChainBall.cpp
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
Labels: game, Item

#183 Destroy items with explosions
  src/game/components/items/Item.cpp
Labels: game, Item

#181 Implemented multiple power-ups
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/BombUp.cpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/FireUp.cpp
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/KickShoes.cpp
  src/game/components/items/SpeedShoes.cpp
  src/game/systems/Collision.cpp
Labels: game, Item

#196 Raylib text font encapsulation
  src/raylib/CMakeLists.txt
  src/raylib/text/CMakeLists.txt
  src/raylib/text/Font.cpp
  src/raylib/text/Font.hpp
  src/raylib/text/text.cpp
  src/raylib/text/text.hpp
  tests/CMakeLists.txt
  tests/raylib/CMakeLists.txt
  tests/raylib/text/CMakeLists.txt
  tests/raylib/text/test_text.cpp
Labels: raylib

#194 fix Components Image and Texture2D
  src/game/components/Image.hpp
  src/game/components/Texture2D.hpp
Labels: bug, raylib

#192 Apply bombNoClip to all players on the bomb cell when placed
  src/game/components/Player.cpp
Labels: bug, game

#188 Implemented multiple power-downs
  src/game/Game.cpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/BombDown.cpp
  src/game/components/items/BombUp.cpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/ChainBall.cpp
  src/game/components/items/FireDown.cpp
  src/game/components/items/FireUp.cpp
  src/game/components/items/InvertedControls.cpp
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/KickShoes.cpp
  src/game/components/items/SpeedShoes.cpp
  src/game/systems/Items.cpp
  src/game/systems/Items.hpp
Labels: game, Item

#197 Fix multiple mesh/model issues
  src/game/components/CMakeLists.txt
  src/game/components/Model.hpp
  src/game/components/Reference.hpp
  src/game/resources/AssetMap.hpp
  src/game/scenes/TestScene.cpp
  src/game/systems/Animation.hpp
  src/game/systems/Model.hpp
  src/raylib/model/Mesh.cpp
  src/raylib/model/Mesh.hpp
  src/raylib/model/Model.cpp
  src/raylib/model/Model.hpp
Labels: bug, raylib, ECS: Component

#200 Add Land Mine activable item
  settings/profiles/player_0.cfg
  settings/profiles/player_1.cfg
  src/game/GameAction.hpp
  src/game/User.hpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/BombNoClip.cpp
  src/game/components/BombNoClip.hpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/LandMine.cpp
  src/game/settings/Keybinds.cpp
  src/game/systems/Bomb.cpp
  src/game/systems/Collision.cpp
  src/game/systems/Items.cpp
  src/game/systems/NoClip.hpp
Labels: game, Item

#204 Feature/161 implement 2d auto scale
  src/game/scenes/SettingsMenuScene.cpp
  src/game/systems/DrawSelectedWidget.hpp
  src/game/systems/DrawText.cpp
  src/game/systems/Rectangle.hpp
  src/main.cpp
  src/raylib/core/Window.cpp
  src/raylib/core/Window.hpp
Labels: UI/UX

#172 Feature/95 game main loop create map
  assets/items/activables/bonus_activable_no_clip.png
  assets/items/activables/bonuse_activable_mine.png
  assets/items/activables/bonuse_activable_punch.png
  assets/items/activables/bonuse_activable_smoke.png
  assets/items/activables/bonuse_activable_stunt.png
  assets/items/items_base/bonus_up_base.png
  assets/items/items_base/bonuse_activable_base.png
  assets/items/items_base/bonuse_down_base.png
  assets/items/player/Animation.iqm
  assets/items/power_downs/bonus_down_C4.png
  assets/items/power_downs/bonus_down_range.png
  assets/items/power_downs/bonus_down_speed.png
  assets/items/power_ups/bonus_up_C4.png
  assets/items/power_ups/bonus_up_range.png
  assets/items/power_ups/bonus_up_speed.png
  assets/items/weapons/C4_Texture.png
  assets/items/weapons/c4.iqm
  assets/map/crate.png
  assets/map/ground.png
  assets/map/wall.png
  cmake/CompilerFlags.cmake
  src/game/Game.cpp
  src/game/Game.hpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/Player.cpp
  src/game/map/CMakeLists.txt
  src/game/systems/Bomb.cpp
  src/game/systems/Bomb.hpp
  src/game/systems/Model.hpp
  src/raylib/model/Mesh.cpp
  src/raylib/model/Model.cpp
  src/raylib/model/Model.hpp
  src/raylib/textures/Image.cpp
  src/raylib/textures/Image.hpp
  src/raylib/textures/Texture2D.cpp
  src/raylib/textures/Texture2D.hpp
Labels: bug, documentation, raylib, ECS, ECS: Entity, ECS: System, ECS: Component, UI/UX, assets, Item

#208 Remove speed items max stack
  src/game/components/items/ChainBall.cpp
  src/game/components/items/SpeedShoes.cpp
Labels: game, gameplay, Item

#209 Bombs explosion stops at first crate/wall in range
  src/game/map/Map.cpp
Labels: game, gameplay, Item

#203 Add Stun Grenade activable
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/LandMine.cpp
  src/game/components/items/StunGrenade.cpp
Labels: game, Item

#220 Feature/95 game main loop create bonuses textures
  assets/audio/Constant_Vlave2.ogg
  assets/audio/Constant_vlave.ogg
  assets/audio/Vlave_opening.ogg
  assets/audio/sound_effects/C4_explosion.ogg
  assets/audio/sound_effects/Dringgg.ogg
  assets/items/activables/bonus_activable_kick_shoes.png
  assets/items/activables/bonus_activable_mine.png
  assets/items/activables/bonus_activable_no_clip.png
  assets/items/activables/bonus_activable_punch.png
  assets/items/activables/bonus_activable_smoke.png
  assets/items/activables/bonus_activable_stunt.png
  assets/items/activables/bonuse_activable_mine.png
  assets/items/activables/bonuse_activable_punch.png
  assets/items/activables/bonuse_activable_smoke.png
  assets/items/activables/bonuse_activable_stunt.png
  assets/items/click.mp3
  assets/items/power_downs/bonus_down_C4.png
  assets/items/power_downs/bonus_down_control.png
  assets/items/power_downs/bonus_down_range.png
  assets/items/power_downs/bonus_down_speed.png
  assets/items/power_ups/bonus_up_C4.png
  assets/items/power_ups/bonus_up_range.png
  assets/items/power_ups/bonus_up_speed.png
  assets/main_menu/logout.jpg
  assets/main_menu/option.jpg
  assets/main_menu/play.jpg
  src/game/Game.cpp
  src/game/components/items/Item.cpp
Labels: UI/UX, assets, Item

#228 Add storages for Cube and CubeColor components
  src/game/Game.cpp
  src/game/scenes/AScene.cpp
Labels: bug, game

#224 Feature/18 add sprite and song
  assets/audio/Constant_Vlave2.ogg
  assets/audio/Constant_vlave.ogg
  assets/audio/Vlave_opening.ogg
  assets/audio/musics/game_theme.ogg
  assets/audio/musics/main_menu_theme.ogg
  assets/audio/sound_effects/Dringgg.ogg
  assets/audio/sounds/affirmative.ogg
  assets/audio/sounds/c4_explosion.ogg
  assets/audio/sounds/flashbang.ogg
  assets/audio/sounds/raylib_splash.ogg
  assets/audio/sounds/smoke.ogg
  assets/audio/sounds/wins.ogg
  assets/map/ground.png
Labels: game, gameplay, UI/UX, assets

#222 Feature/59 create the main menu
  assets/BMGO.png
  assets/audio/sounds/raylib_splash.ogg
  locales/locale_en.po
  locales/locale_fr.po
  src/game/Engine.cpp
  src/game/scenes/MainMenuScene.cpp
  src/game/scenes/MainMenuScene.hpp
  src/game/scenes/SettingsMenuScene.cpp
  src/game/scenes/SplashScene.cpp
  src/game/systems/SplashScreen.hpp
  src/localization/Resources.hpp
  src/raylib/core/Window.cpp
  src/raylib/core/Window.hpp
Labels: help wanted, question, game

#212 Add Smoke Grenade Activable
  src/game/Game.cpp
  src/game/components/Smoke.hpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/LandMine.cpp
  src/game/components/items/SmokeGrenade.cpp
  src/game/components/items/StunGrenade.cpp
  src/game/systems/CMakeLists.txt
  src/game/systems/Smoke.cpp
  src/game/systems/Smoke.hpp
Labels: game, Item

#230 Add raylib shader encapsulation
  assets/shaders/glsl100/base_lighting.vs
  assets/shaders/glsl100/colorblind.fs
  assets/shaders/glsl330/base_lighting.vs
  assets/shaders/glsl330/colorblind.fs
  src/game/Engine.cpp
  src/game/Engine.hpp
  src/game/Game.cpp
  src/game/scenes/AScene.cpp
  src/game/scenes/SettingsMenuScene.cpp
  src/game/settings/Settings.cpp
  src/game/settings/Settings.hpp
  src/raylib/CMakeLists.txt
  src/raylib/core/CMakeLists.txt
  src/raylib/core/Vector3.hpp
  src/raylib/core/Vector4.hpp
  src/raylib/core/scoped.hpp
  src/raylib/model/Model.cpp
  src/raylib/model/Model.hpp
  src/raylib/shaders/CMakeLists.txt
  src/raylib/shaders/Shader.cpp
  src/raylib/shaders/Shader.hpp
  src/raylib/textures/CMakeLists.txt
  src/raylib/textures/RenderTexture2D.cpp
  src/raylib/textures/RenderTexture2D.hpp
  tests/settings/test_Settings.cpp
Labels: raylib

#225 Cleanup bomb creations
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/LandMine.cpp
  src/game/systems/Collision.cpp
Labels: game, gameplay

#231 Feature/226 make player connection on menu
  locales/locale_en.po
  locales/locale_fr.po
  settings/.gitkeep
  settings/profiles/player_0.cfg
  settings/profiles/player_1.cfg
  src/game/Engine.cpp
  src/game/Engine.hpp
  src/game/Game.cpp
  src/game/GameAction.hpp
  src/game/User.cpp
  src/game/User.hpp
  src/game/Users.cpp
  src/game/Users.hpp
  src/game/components/Player.cpp
  src/game/gui/components/Widget.cpp
  src/game/scenes/MainMenuScene.cpp
  src/game/scenes/MainMenuScene.hpp
  src/game/scenes/SettingsMenuScene.cpp
  src/game/scenes/SplashScene.cpp
  src/game/scenes/TestScene.cpp
  src/game/settings/Keybinds.cpp
  src/game/settings/Keybinds.hpp
  src/game/systems/DrawSelectedWidget.hpp
  src/game/systems/InputManager.cpp
  src/localization/Resources.hpp
Labels: game

#248 Add landmine model
  assets/items/weapons/landmine.iqm
  assets/items/weapons/landmine_texture.png
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
Labels: game, assets, Item

#250 Desktop Javascript Console
  assets/fonts/Inconsolata-Medium.ttf
  assets/fonts/OFL.txt
  cmake/mujs/CMakeLists.txt
  src/game/Game.cpp
  src/game/Game.hpp
  src/game/GameAction.hpp
  src/game/User.cpp
  src/game/User.hpp
  src/game/Users.cpp
  src/game/Users.hpp
  src/game/components/CMakeLists.txt
  src/game/components/History.cpp
  src/game/components/History.hpp
  src/game/components/KeyboardInput.cpp
  src/game/components/KeyboardInput.hpp
  src/game/gui/components/CMakeLists.txt
  src/game/gui/components/Console.cpp
  src/game/gui/components/Console.hpp
  src/game/scenes/MainMenuScene.cpp
  src/game/scenes/SettingsMenuScene.cpp
  src/game/scenes/SplashScene.cpp
  src/game/scenes/TestScene.cpp
  src/game/settings/Keybinds.cpp
  src/game/systems/CMakeLists.txt
  src/game/systems/DrawConsole.cpp
  src/game/systems/DrawConsole.hpp
  src/game/systems/DrawText.cpp
  src/game/systems/InputManager.cpp
  src/game/systems/UpdateKeyboardInput.cpp
  src/game/systems/UpdateKeyboardInput.hpp
  src/raylib/core/Window.cpp
  src/raylib/core/Window.hpp
  src/script/Engine.cpp
  src/script/Engine.hpp
  src/util/util.cpp
  src/util/util.hpp
  tests/util/CMakeLists.txt
  tests/util/tests_util.cpp
Labels: scripting

#256 Stops game when only one player left
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/scenes/MainMenuScene.cpp
  src/game/systems/CheckGameEnd.hpp
Labels: game

#253 Add No Clip power up (Wall pass)
  src/game/Game.cpp
  src/game/components/Player.hpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/NoClip.cpp
  src/game/components/items/SmokeGrenade.cpp
  src/game/settings/Keybinds.cpp
  src/game/systems/Collision.cpp
  src/game/systems/NoClip.hpp
Labels: game, Item

#260 Change Colorblind filter from script
  mods/api.d.ts
  mods/api.js
  src/ecs/world/Instances.hpp
  src/ecs/world/World.hpp
  src/script/Engine.cpp
  src/script/Engine.hpp
  src/script/JsException.cpp
  src/script/JsException.hpp
  src/script/api/common.cpp
Labels: scripting, UI/UX

#261 Remove the quit button on the web
  src/game/scenes/MainMenuScene.cpp
Labels: UI/UX, web

#266 Allow solo playing
  src/game/Game.cpp
  src/game/scenes/MainMenuScene.cpp
Labels: game

#262 Add explosion sounds
  src/game/Game.cpp
  src/game/Game.hpp
  src/game/components/Bomb.cpp
  src/game/components/CMakeLists.txt
  src/game/components/Sound.cpp
  src/game/components/Sound.hpp
  src/game/components/items/SmokeGrenade.cpp
  src/game/components/items/StunGrenade.cpp
  src/game/resources/AssetMap.hpp
  src/game/systems/PlaySoundOnce.hpp
Labels: game, assets

#255 Add Punch Activable
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/components/items/CMakeLists.txt
  src/game/components/items/Item.cpp
  src/game/components/items/Item.hpp
  src/game/components/items/NoClip.cpp
  src/game/components/items/Punch.cpp
Labels: game, Item

#267 Add play button on the web
  src/shell.html
Labels: UI/UX, web

#251 Add keybinds configuration in settings menu
  locales/locale_en.po
  locales/locale_fr.po
  src/game/Engine.hpp
  src/game/Game.cpp
  src/game/GameAction.hpp
  src/game/User.cpp
  src/game/User.hpp
  src/game/Users.cpp
  src/game/Users.hpp
  src/game/components/KeybindIntercepter.hpp
  src/game/components/Player.cpp
  src/game/scenes/AScene.cpp
  src/game/scenes/AScene.hpp
  src/game/scenes/IScene.hpp
  src/game/scenes/MainMenuScene.cpp
  src/game/scenes/SettingsMenuScene.cpp
  src/game/scenes/SettingsMenuScene.hpp
  src/game/scenes/SplashScene.cpp
  src/game/settings/Keybinds.cpp
  src/game/settings/Keybinds.hpp
  src/game/systems/InputManager.cpp
  src/game/systems/KeybindIntercept.hpp
  src/localization/Resources.hpp
Labels: enhancement

#269 Fix FPS counter not displaying
  src/game/Engine.cpp
  src/game/Game.cpp
  src/game/scenes/MainMenuScene.cpp
  src/game/scenes/SettingsMenuScene.cpp
  src/game/scenes/SplashScene.cpp
  src/game/systems/CMakeLists.txt
  src/game/systems/DrawFpsCounter.cpp
  src/game/systems/DrawFpsCounter.hpp
Labels: bug

#272 Add colorblind filter to the option menu
  locales/locale_en.po
  locales/locale_fr.po
  src/game/scenes/SettingsMenuScene.cpp
  src/game/scenes/SettingsMenuScene.hpp
  src/localization/Resources.hpp
Labels: UI/UX

#280 Disable bomb placing on crates
  src/game/components/Bomb.cpp
Labels: bug, game, Item

#275 Set texture to smoke spheres
  assets/items/weapons/smoke.png
  src/game/Game.cpp
  src/game/components/items/SmokeGrenade.cpp
  src/game/systems/Smoke.cpp
Labels: game, assets

#281 Load connected users on main menu setup
  src/game/scenes/MainMenuScene.cpp
  src/game/scenes/MainMenuScene.hpp
Labels: bug

#287 Implemented GameClock
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/Bomb.hpp
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/resources/CMakeLists.txt
  src/game/resources/GameClock.cpp
  src/game/resources/GameClock.hpp
  src/game/systems/Bomb.cpp
  src/game/systems/Movement.cpp
  src/game/systems/UpdateGameClock.hpp
Labels: game

#283 Add bomb explosions visualization
  src/game/Game.cpp
  src/game/components/Bomb.cpp
  src/game/components/CMakeLists.txt
  src/game/components/Destructible.hpp
  src/game/components/Explosion.cpp
  src/game/components/Explosion.hpp
  src/game/systems/CMakeLists.txt
  src/game/systems/Explosion.cpp
  src/game/systems/Explosion.hpp
Labels: game, UI/UX

#288 Basic script-controlled player movement
  mods/api.d.ts
  mods/api.js
  src/ecs/system/SystemData.hpp
  src/game/Game.cpp
  src/game/components/AiControlable.cpp
  src/game/components/AiControlable.hpp
  src/game/components/CMakeLists.txt
  src/game/components/Player.cpp
  src/game/components/Player.hpp
  src/game/systems/AiUpdate.cpp
  src/game/systems/AiUpdate.hpp
  src/game/systems/CMakeLists.txt
  src/script/api/CMakeLists.txt
  src/script/api/api.hpp
  src/script/api/mods.cpp
  src/script/api/players.cpp
Labels: scripting

#298 Add Game HUD
  assets/player/textures/head_counter_terrorist_1.png
  assets/player/textures/head_counter_terrorist_2.png
  assets/player/textures/head_none_sense.png
  assets/player/textures/head_rainbow.png
  assets/player/textures/head_terrorist_1.png
  assets/player/textures/head_terrorist_2.png
  src/game/Game.cpp
  src/game/components/CMakeLists.txt
  src/game/components/Player.cpp
  src/game/components/PlayerHud.cpp
  src/game/components/PlayerHud.hpp
  src/game/components/Rectangle.hpp
  src/game/components/Texture2D.hpp
  src/game/components/items/BombUp.cpp
  src/game/components/items/KickShoes.cpp
  src/game/systems/CMakeLists.txt
  src/game/systems/DrawText.cpp
  src/game/systems/DrawTexture.cpp
  src/game/systems/DrawTexture.hpp
  src/game/systems/Rectangle.hpp
  src/game/systems/UpdateHud.cpp
  src/game/systems/UpdateHud.hpp
  src/raylib/shapes/Rectangle.cpp
  src/raylib/shapes/Rectangle.hpp
Labels: game, UI/UX
